@model IList<Equipment>
<h2>Equipment:</h2>
<form asp-action="Create" class="form-inline">
    <div class="form-group">
        <input type="text" name="equipmentName" class="form-control" />
        <input type="submit" value="Add Equipment" class="form-control btn-info" />
    </div>
</form>

<h4>Equipment:</h4>
<div>
  <ul>
      @foreach(var item in Model)
      {
        <li><label>@item.Name</label></li>      
      }
  </ul>
</div>
