<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Specs</a></li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href ng-click="tab.setTab(3)">Reviews</a></li>
  </ul>
  <product-description ng-show="tab.isSet(1)"></product-description>
  <div ng-show="tab.isSet(2)" product-specs>
  </div>
  <div ng-show="tab.isSet(3)">
    <h4>Reviews</h4>
    <ul class="list-unstyled">
      <li ng-repeat="review in product.reviews">
        <blockquote>
          <strong>{{review.stars}} Stars</strong>
          {{review.body}}
          <cite class="clearfix">- {{review.author}} on {{review.createdOn | date}}</cite>
        </blockquote>
      </li>
    </ul>
      <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"
                              novalidate>
        <blockquote>
          <strong>{{reviewCtrl.review.stars}} Stars</strong>
          {{reviewCtrl.review.body}}
          <cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
        </blockquote>

        <h4>Submit a Review</h4>
        <fieldset class="form-group">
          <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required >
            <option value="">Rate the Product</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="jimmyDean@example.org" title="Email" required />
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
        </fieldset>
      </form>
  </div>
</section>
