.small {
  width: 50px;
}

a {
  color: #ac005f;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:active,
.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,
.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background: #ac005f;
}
